.mainHeading {
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;
}

.tableHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: var(--text-color);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tableHeadNum {
    min-width: 10%;
    text-align: center;
}


.tableHeadDetails {
    min-width: 70%;
    display: flex;
    justify-content: space-around;
}

.tableHeadDetails p {
    min-width: 16%;
    max-width: 16%;
    text-align: center;
}

.tableHeadActions {
    min-width: 20%;
    text-align: center;
}
